<div class="container">
    <h3>{{title}}</h3>
    <div *ngIf="appStatus">appStatus is <strong>TRUE</strong></div>
    <div>
        <h3>User List</h3>
        <div *ngFor="let user of users">
            <ul>
                <li>{{user.id}}</li>
                <li>{{user.name}}</li> 
                <li><img [src]='user.image' /></li>     
            </ul>
        </div> 
    </div>
    <ul>
        <li><a [routerLink] = "['/products']">Product</a></li>
        <li><a [routerLink] = "['/inventory']">Inventory</a></li>
    </ul>
    <router-outlet></router-outlet>
    <product-form></product-form>
</div>